<div class="container">
  <div class="row">
    <div class="col-md-5" style="background: lightgray;" [routerLink]="['template-driven']" routerLinkActive="appliedButtonStyle" >
        Template-Driven
    </div>
    <div class="col-md-5" style="background: lightgray; margin-left: 1px;" [routerLink]="['reactive-forms']" routerLinkActive="appliedButtonStyle" >
      Reactive-form
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
