<div>
  <ul>
    <li routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/']">Data-Binding</a>
  </li>
    <li routerLinkActive="active">
      <a [routerLink]="['directive-link']">Directives</a></li>
    <li routerLinkActive="active"><a [routerLink]="['input-output']">Input-Output</a></li>
    <li routerLinkActive="active"><a [routerLink]="['local-viewchild-ref']">Local-ViewChild</a></li>
    <li routerLinkActive="active"><a [routerLink]="['routing-link']">Routing</a></li>
    <li routerLinkActive="active"><a [routerLink]="['not-found']">NotFound</a></li>
    <li routerLinkActive="active"><a [routerLink]="['guards']">Guards</a></li>
  </ul>
</div>
<br>
<br>
<br>
<div>
<router-outlet></router-outlet>
</div>

