<div class="container">
  <div class="row">
    <div class="col-md-12">
       <h4> Template Driven forms</h4>
    </div>
  </div>
  <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
    <div class="row">
      <div class="col-md-12">
        Enter Name:: <input type="text" name="name" placeholder="Enter name" ngModel>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
              Select Gender::
          </div>
          <div class=" col-md-9">
              Male:: <input type="radio" name="gender" value="Male" ngModel> <br>
                        Female:: <input type="radio" name="gender" value="Female" ngModel>
            </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-3">
                  Select Option::
              </div>
              <div class=" col-md-9">
                <select name="role" ngModel>
                  <option value="sse">SSE</option>
                  <option value="se">SE</option>
                  <option value="qa">QA</option>
                </select>
                </div>
              </div>
      </div>
      <div class="col-md-12">
        <button value="submit" class="btn btn-primary">SUBMIT</button>
      </div>
    </div>
  </form>
</div>
